body {
    background-color: #0F1F2F;
    font-family: 'Inter';
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom: 0.01em solid #9A9999;
    border-top: 5px solid #EFD7B5;
    border-right: 1px solid #9A9999;
    border-left: 1px solid #9A9999;
    opacity: 0;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}

.navbar ul {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    padding: 5px 10px;
}

.navbar ul li {
    color: #AAD8FF;
}

.navbar ul a {
    text-decoration: none;
    color: #AAD8FF;
    cursor: pointer;
}


.navbar ul:hover li {
    font-size: 21px;
}


.navbar ul a#onlink {
    color: #EFD7B5;
}

.navbar ul li#onlink {
    color: #EFD7B5;
}

.middle-line {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 15px;
    height: 0;
    background-color:#EFD7B5;
    animation: slideDown 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: 25.3rem;
    }
}

.line1 {
    position: fixed;
    top: 55px;
    left: 32%;
    width: 10px;
    height: 0;
    background-color: #9A9999;
    animation: slideDownSmall 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes slideDownSmall {
    from {
        height: 0;
    }
    to {
        height: 45px;
    }
}

.line2 {
    position: fixed;
    top: 55px;
    right: 32%;
    width: 10px;
    height: 0;
    background-color: #9A9999;
    animation: slideDownSmall 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.line3 {
    position: fixed;
    top: 55px;
    left: 50%;
    width: 10px;
    height: 0;
    background-color: #9A9999;
    animation: slideDownSmall 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

}

.home-content {
    width: 100%;
}

.home-content .half-left h1 {
    position: relative;
    margin-left: 26%;
    top: 13.5rem;
    font-weight: 100;
    color: #9A9999;
    font-size: 60px;
    opacity: 0;
    animation: fadeIn 3s;
    animation-fill-mode: forwards;
}

.home-content .half-right h1 {
    position: relative;
    margin-left: 52%;
    top: 6.5rem;
    font-weight: 100;
    font-size: 60px;
    color: #EFD7B5;
    opacity: 0;
    animation: fadeIn 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.home-content .top h1 {
    display: none;
}

.home-content .bottom h1 {
    position: relative;
    text-align: center;
    top: 12rem;
    font-weight: 100;
    font-size: 40px;
    color: #9A9999;
    opacity: 0;
    animation: fadeIn 3s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}

.home-content .bottom h1 span {
    color: #AAD8FF;
}

.social {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 4%;
    align-items: center;
    opacity: 0;
    animation: fadeIn 3s;
    animation-fill-mode: forwards;
}

.social a {
    text-decoration: none;
    color:#EFD7B5;
    padding: 0 0 15px 0;
}

.social a:hover  {
    color: #AAD8FF;
}

.straight-line {
    width: 1px;
    height: 0;
    background-color: #EFD7B5;
    animation: slideUp 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes slideUp {
    from {
        height: 0;
    }
    to {
        height: 8rem;
    }
}

.about-content {
    position: absolute;
    width: 70%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-content .picture {
    position: relative;
    float: left;
    width: 50%;
    height: 350px;

    animation: slideIn 3s;
    animation-fill-mode: forwards;
}

.about-content .picture img {
    position: relative;
    width: auto;
    height: 90%;
}

.about-content .picture .bg {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 300px;
    background-color: #364859;
    height: 90%;
}

.about-content:hover .picture img {
    left: 2%;
    opacity: 0.9;
}

.about-content:hover .picture .bg {
    background-color: #1F3041;
    top: 8%;
}

@keyframes slideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

.about-content .info {
    position: relative;
    float: right;
    width: 50%;
    height: 350px;
    text-align: center;
    color: #9A9999;
    animation: slideIn 3s;
    animation-fill-mode: forwards;
}

.about-content .info h2 {
    position: relative;
    font-size: 30px;
    font-weight: 100;
}

.about-content .info h2 span {
    color: #EFD7B5;
}

.about-content .info h2 span2 {
    color: #AAD8FF;
}

.contact-content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeIn 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.contact-content .info h1 {
    font-size: 64px;
    color: #EFD7B5;
    font-weight: 100;
}

.contact-content .info h3 {
    font-size: 34px;
    color: #AAD8FF;
    font-weight: 100;
}

.contact-content .info h3:hover {
    font-size: 36px;
}

.contact-content .info a {
    text-decoration: none;
    color: #AAD8FF;
}

.copyright {
    position: fixed;
    width: 100%;
    font-size: 17px;
    bottom: 0;
    opacity: 0;
    animation: fadeIn 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.copyright h4 {
    text-align: center;
    color: #EFD7B5;
    font-weight: 100;
}

.project-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
    opacity: 0;
    animation: fadeIn 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.project-content .pj {
    width: calc(10rem + 15vw);
    text-decoration: none;
    height: 20rem;
    padding: 1rem;
    color: white;
    border: 2px solid white;
    box-shadow: 0 0 1rem 0 black;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.project-content .pj:hover {
    box-shadow: 0 0 1rem 0 #EFD7B5;
}

.project-content .pj h5 {
    padding-top: 0.1rem;
    color: #9A9999;
    font-weight: 100;
}

.project-content .pj h3 {
    color: inherit;
    padding-top: 0.3rem;
    font-weight: 100;
    text-align: center;
    color: #EFD7B5;
}

.project-content .pj:hover h5 {
    color: white;
}

.project-content .pj:hover h3 {
    text-shadow: 0 0 10px #fff;
}

.project-content .pj .cc-img {
    background-image: url(images/CC.jpg);
    width: 100%;
    height: 55%;
    background-size: cover;
    background-position: center center;
}

/* desktop */
@media screen and (max-width: 2560px) {

}

/* laptopL */
@media screen and (max-width: 1440px) {
    .home-content .half-left h1 {
        font-size: 50px;
        top: 14.5rem;
        margin-left: 25%;
    }
    .home-content .half-right h1 {
        font-size: 50px;
        top: 8.7rem;
    }
    .home-content .bottom h1 {
        font-size: 35px;
        top: 15rem;
    }
}

/* laptop */
@media screen and (max-width: 1024px) {
    .home-content .half-left h1 {
        position: absolute;
        top: 23rem;
        margin-left: 17%;
    }
    .home-content .half-right h1 {
        top: 14.7rem;
    }
    .home-content .bottom h1 {
        top: 21rem;
    }
    .navbar {
        margin-left: 10%;
        margin-right: 10%;
    }
    .navbar ul li,
    .navbar ul a {
        font-size: 16px;
    }
    .navbar ul:hover li {
        font-size: 18px;
    }
    .line1 {
        left: 30%;
    }
    .line2 {
        right: 31%;
    }
    .about-content .picture {
        height: 280px;
    }
    .about-content .picture .bg {
        width: 240px;
    }
    .about-content .info {
        top: 1rem;
    }
    .about-content .info h2 {
        font-size: 22px;
    }
    .project-content {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .project-content .pj {
        width: calc(8.5rem + 15vw);
        height: 17rem;
    }
    .project-content .pj h3 {
        font-size: 15px;
    }
    .project-content .pj h5 {
        font-size: 12px;
    }
}

/* tablet */
@media screen and (max-width: 768px) {
    .home-content .half-left h1 {
        display: none;
    }
    .home-content .half-right h1 {
        display: none;
    }
    .home-content .bottom h1 {
        font-size: 23px;
        top: 14rem;
        animation-delay: 1s;
    }
    .home-content .top h1 {
        position: relative;
        display: block;
        font-weight: 100;
        font-size: 35px;
        text-align: center;
        color: #EFD7B5;
        top: 10rem;
        opacity: 0;
        animation: fadeIn 3s;
        animation-fill-mode: forwards;  
    }
    .home-content .top h1 span {
        color:#9A9999;
        font-size: 32px;
    }
    .navbar ul li,
    .navbar ul a {
        font-size: 15px;
    }
    .navbar ul:hover li {
        font-size: 16px;
    }
    .middle-line {
        display: none;
    }
    .line1 {
        width: 6px;
    }
    @keyframes slideDownSmall {
        from {
            height: 0;
        }
        to {
            height: 35px;
        }
    }
    .line2 {
        width: 6px;
    }
    .line3 {
        width: 6px;
    }
    .about-content .picture {
        float: none;
        top: 5rem;
        width: 100%;
        text-align: center
    }
    .about-content .picture .bg {
        display: none;
    }
    .about-content .info {
        float: none;
        top: 7rem;
        width: 100%;
    }
    .about-content .info h2 {
        font-size: 19px;
    }
    .contact-content .info h1 {
        font-size: 52px;
    }
    .contact-content .info h3 {
        font-size: 28px;
    }
    .contact-content .info h3:hover {
        font-size:30px;
    }
    .project-content .pj {
        width: calc(13rem + 16vw);
        height: 20rem;
    }
}

/* mobileL */
@media screen and (max-width: 500px) {
    .navbar {
        margin-left: 7%;
        margin-right: 7%;
    }
    .line1 {
        display: none;
    }
    .line2 {
        display: none;
    }
    .line3 {
        display: none;
    }
    .project-content {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .project-content .pj {
        width: calc(11rem + 15vw);
        height: 17rem;
    }
}

/* mobileM */
@media screen and (max-width: 375px) {
    .home-content .bottom h1 {
        font-size: 20px;
        top: 11rem;
    }
    .home-content .top h1 {
        font-size: 31px;
        top: 9rem;
    }
    .social a {
        font-size: 18px;
    }
    .about-content .picture {
        top: 6rem;
        height: 250px;
    }
    .about-content .info {
        top: 8rem;
    }
    .contact-content .info h1 {
        font-size: 42px;
    }
    .contact-content .info h3 {
        font-size: 20px;
    }
    .contact-content .info h3:hover {
        font-size: 22px;
    }
    .copyright {
        font-size: 15px;
    }
    .project-content {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }
    .project-content .pj {
        width: calc(8.5rem + 15vw);
        height: 14rem;
    }
    .project-content .pj h3 {
        font-size: 13px;
    }
    .project-content .pj h5 {
        font-size: 10px;
    }
}

/* mobileS */
@media screen and (max-width: 320px) {
    .home-content .bottom h1 {
        font-size: 17px;
        top: 9rem;
    }
    .home-content .top h1 {
        font-size: 25px;
        top: 7rem;
    }
    .home-content .top h1 span {
        font-size: 23px;
    }
    .navbar {
        margin-left: 3%;
        margin-right: 3%;
    }
    .navbar ul li,
    .navbar ul a {
        font-size: 11px;
    }
    .navbar ul:hover li {
        font-size: 12px;
    }
    .social a {
        font-size: 16px;
    }
    .about-content .picture {
        top: 8rem;
        height: 220px;
    }
    .about-content .info h2 {
        font-size: 15px;
    }
    .contact-content .info h1 {
        font-size: 36px;
    }
    .contact-content .info h3 {
        font-size: 17px;
    }
    .contact-content .info h3:hover {
        font-size: 19px;
    }
    .copyright {
        font-size: 13px;
    }
    .project-content .pj {
        width: calc(7rem + 15vw);
        height: 12.5rem;
    }
    .project-content .pj h3 {
        font-size: 11px;
    }
    .project-content .pj h5 {
        font-size: 8.5px;
    }
}


